<div class="uk-container" style="margin-top:20px;">
    <h1>Our History</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem risus, consectetur et diam interdum, aliquam ullamcorper elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada ut justo vitae auctor. Aliquam ac tortor eu velit ultrices aliquam. Donec et accumsan diam. Duis malesuada leo et imperdiet gravida. Donec et elit quis magna accumsan eleifend eu non diam. Integer vitae mi varius, finibus turpis sit amet, venenatis arcu. Nunc interdum, purus id malesuada hendrerit, lorem nisi malesuada urna, dictum sagittis nisi mauris id nunc. Sed ac rhoncus elit. Sed ut magna rhoncus, rhoncus sem id, ullamcorper elit.
    </p>
    <p>
        Nulla sodales, urna sed iaculis commodo, nisl nisi aliquam ex, eget rutrum purus ligula nec ipsum. Etiam vel mauris nec sem feugiat finibus. Integer varius sagittis sodales. Nulla dolor urna, sodales vel erat non, aliquet euismod nunc. Fusce ut tortor vestibulum, interdum orci quis, faucibus urna. Duis tempor mattis egestas. Nam urna velit, hendrerit sed quam ac, pretium vehicula lectus. Nam consectetur orci vel cursus porta. Donec sed placerat massa, ut convallis ante. Curabitur elementum leo at elementum lobortis. Suspendisse porttitor ipsum eu tincidunt porttitor.
    </p>

    <h1>The Team</h1>
    <div class="uk-grid-medium uk-child-width-expand@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top" style="text-align:center;">
                    <img src="../../assets/susan-profile.png" alt="">
                </div>
                <div class="uk-card-body" style="text-align:center;">
                    <h3 class="uk-card-title">Susan Kivila</h3>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top" style="text-align:center;">
                    <img src="../../assets/alan-profile.png" alt="">
                </div>
                <div class="uk-card-body" style="text-align:center;">
                    <h3 class="uk-card-title">Alan Perdiago</h3>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top" style="text-align:center;">
                    <img src="../../assets/sean-profile.png" alt="">
                </div>
                <div class="uk-card-body" style="text-align:center;">
                    <h3 class="uk-card-title">Sean Collins</h3>
                </div>
            </div>
        </div>
    </div>
</div>