<div class="uk-container" style="margin-top:20px;">
    <div class="uk-column-1@s uk-column-1-2@m uk-column-divider">
        <h3>Send us a quick message...</h3>
        <form>
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <label class="uk-form-label" for="first-name">First Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="fist-name" type="text" placeholder="First Name">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="last-name">Last Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="last-name" type="text" placeholder="Last Name">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="email-address">Email Address</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="email-address" type="email" placeholder="Email">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="website">Website</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="website" type="text" placeholder="Password">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="comment">Comment</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" id="comment" rows="3" placeholder="Textarea"></textarea>
                    </div>
                </div>
            </fieldset>
            <p uk-margin>
                <button class="uk-button uk-button-primary">Submit</button>
            </p>
        </form>

        <h3>Or how about something more personal?</h3>
        <h5>Give us a call at 1-800-123-4567</h5>
        <ul class="uk-list uk-list-bullet">
            <li>Sunday Closed</li>
            <li>Monday 8:00am - 6:00pm</li>
            <li>Tuesday 8:00am - 6:00pm</li>
            <li>Wednesday 8:00am - 6:00pm</li>
            <li>Thursday 8:00am - 6:00pm</li>
            <li>Friday 8:00am - 6:00pm</li>
            <li>Saturday 8:00am - 6:00pm</li>
        </ul>

        <hr class="uk-divider-icon">

        <h5>Come visit us in-person!</h5>
        <ul class="uk-list">
            <li>Insta-Meeting</li>
            <li>123 Downtown Street</li>
            <li>Claremont, CA</li>
        </ul>
    </div>
</div>