<div class="uk-container" style="margin-top:20px;">
    <h1>User Dashboard</h1>

    <h5>Connected Accounts</h5>
    <ul class="uk-list uk-list-bullet">
        <li>Test Attendee 1</li>
        <li>Test Attendee 2</li>
        <li>Test Attendee 3</li>
        <li>Test Attendee 4</li>
    </ul>

    <hr class="uk-divider-icon">

    <h5>Upcoming Events</h5>
    <ul class="uk-list uk-list-bullet">
        <li>4/24 - 8:30 AM to 9:30 AM</li>
        <li>4/24 - 1:45 PM to 2:30 PM</li>
    </ul>
</div>