<div class="uk-container" style="margin-top:20px;">
    <h1>
        User Profile
        <button class="uk-button uk-button-link" uk-toggle="target: #edit-modal">Edit</button>
    </h1>
    <div class="uk-column-1@s uk-column-1-2@m uk-column-divider">
        <h3>Basic Infromation</h3>
        <ul class="uk-list">
            <li><strong>First Name:</strong> Test</li>
            <li><strong>Last Name:</strong> Customer</li>
            <li><strong>Email Address:</strong> test.customer@cgu.edu</li>
            <li><strong>Phone Number:</strong> 909-123-4567</li>
        </ul>

        <h3>Address</h3>
        <p>
            Test Customer<br>
            12345 Fake Avenue<br>
            Claremont, CA, 91711
        </p>
    </div>

    <hr class="uk-divider-icon">

    <h3>Connected Services</h3>
    <ul class="uk-list">
        <li>
            <strong>Exchange</strong> 
            <button class="uk-button uk-button-link" uk-toggle="target: #exchange-modal">Connect</button
        ></li>
        <li>
            <strong>Outlook</strong> 
            <button class="uk-button uk-button-link" uk-toggle="target: #outlook-modal">Connect</button>
        </li>
        <li>
            <strong>Gmail</strong> CONNECTED as test.customer@gmail.com
        </li>
        <li>
            <strong>Apple Mail</strong> 
            <button class="uk-button uk-button-link" uk-toggle="target: #apple-modal">Connect</button>
        </li>
    </ul>

    <hr class="uk-divider-icon">

    <h3>Theme Selector</h3>
    <div class="uk-grid-medium uk-child-width-expand@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-badge uk-label">Selected</div>
                <h3 class="uk-card-title">Theme 1</h3>
                <p>
                    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Button</button>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Button</button>
                    <button class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom">Button</button>
                    <button class="uk-button uk-button-secondary uk-width-1-1">Button</button>
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-hover uk-card-body" style="cursor:pointer; background-color:#efefef;">
                <h3 class="uk-card-title">Theme 2</h3>
                <p>
                    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" style="background-color:#fff;">Button</button>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Button</button>
                    <button class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom">Button</button>
                    <button class="uk-button uk-button-secondary uk-width-1-1">Button</button>
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-hover uk-card-body" style="cursor:pointer; background-color:lightblue">
                <h3 class="uk-card-title">Theme 3</h3>
                <p>
                    <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" style="background-color:#fff;">Button</button>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Button</button>
                    <button class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom">Button</button>
                    <button class="uk-button uk-button-secondary uk-width-1-1">Button</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="edit-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Edit Your Profile</h2>
        </div>
        <div class="uk-modal-body">
            <form>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="first-name">First Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="first-name" type="text" value="Test">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="lase-name">Lase Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="lase-name" type="text" value="Customer">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="email-address">Email Address</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email-address" type="email" value="test.customer@cgu.edu">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="phone-number">Phone Number</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="phone-number" type="text" value="909-123-4567">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="address">Address</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea" id="address" rows="3">
Test Customer
12345 Fake Avenue
Claremont, CA, 91711
                            </textarea>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="uk-button uk-button-default uk-modal-close">Cancel</a>
            <a class="uk-button uk-button-primary uk-modal-close">Update</a>
        </div>
    </div>
</div>

<div id="exchange-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Connect Your Exchange Account</h2>
        </div>
        <div class="uk-modal-body">
            <form>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="email-address">Email Address</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email-address" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="user-domain">User and Domain</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="user-domain" type="text" placeholder="domain\user">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">Password</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="password" type="password" placeholder="Password">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="uk-button uk-button-default uk-modal-close">Cancel</a>
            <a class="uk-button uk-button-primary uk-modal-close">Connect</a>
        </div>
    </div>
</div>

<div id="outlook-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Connect Your Outlook Account</h2>
        </div>
        <div class="uk-modal-body">
            <form>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="email-address">Email Address</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email-address" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">Password</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="password" type="password" placeholder="Password">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="uk-button uk-button-default uk-modal-close">Cancel</a>
            <a class="uk-button uk-button-primary uk-modal-close">Connect</a>
        </div>
    </div>
</div>

<div id="gmail-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Connect Your Gmail Account</h2>
        </div>
        <div class="uk-modal-body">
            <form>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="email-address">Email Address</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email-address" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">Password</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="password" type="password" placeholder="Password">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="uk-button uk-button-default uk-modal-close">Cancel</a>
            <a class="uk-button uk-button-primary uk-modal-close">Connect</a>
        </div>
    </div>
</div>

<div id="apple-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Connect Your Apple Mail Account</h2>
        </div>
        <div class="uk-modal-body">
            <form>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="email-address">Email Address</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email-address" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">Password</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="password" type="password" placeholder="Password">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="uk-button uk-button-default uk-modal-close">Cancel</a>
            <a class="uk-button uk-button-primary uk-modal-close">Connect</a>
        </div>
    </div>
</div>
