<div class="uk-section uk-section-muted uk-preserve-color" style="padding-top:0; padding-bottom:0;">
    <div class="uk-container">
        <div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center" style="box-sizing: border-box; min-height: calc(100vh - 183px); height: calc(100vh - 183px);">
            <div class="uk-width-1-1">
                <div class="uk-container">
                    <h1><i class="fa fa-calendar fa-3x" aria-hidden="true"></i></h1>
                    <h1>Insta-Meeting</h1> 
                    <p class="uk-margin-medium uk-text-lead">
                        Redefining how you connect with your colleages, one meeting at a time
                    </p>
                    <div uk-grid="" class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid">
                        <div class="uk-first-column">
                            <a [routerLink]="['/features']" class="uk-button uk-button-primary uk-button-large">Learn More</a> 

                            <a class="uk-button uk-button-secondary uk-button-large" uk-toggle="target: #register-modal">Get Started</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="register-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Register Account</h2>
        </div>
        <div class="uk-modal-body">
            <div class="uk-margin-bottom" style="text-align:center;">
                <div class="uk-button-group">
                    <button class="uk-button uk-button-primary" (click)="emailRegister=true;">With Email</button>
                    <button class="uk-button uk-button-secondary" (click)="emailRegister=false">With Social Media</button>
                </div>
            </div>
            <form *ngIf="emailRegister">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="first-name">First Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="fist-name" type="text" placeholder="First Name">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="last-name">Last Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="last-name" type="text" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="email-address">Email Address</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email-address" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">Password</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="password" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="confirm-password">Confirm Password</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="confirm-password" type="password" placeholder="Confirm Password">
                        </div>
                    </div>
                </fieldset>
            </form>
            <form *ngIf="!emailRegister">
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-bottom uk-modal-close" style="background-color: #3b5998;" (click)="loggedIn=true" [routerLink]="['/application']">Facebook</button>
                <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-bottom uk-modal-close" style="background-color: #4099ff;" (click)="loggedIn=true" [routerLink]="['/application']">Twitter</button>
                <button class="uk-button uk-button-primary uk-width-1-1 uk-modal-close" style="background-color:#d9534f;" (click)="loggedIn=true" [routerLink]="['/application']">Google</button>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="uk-button uk-button-default uk-modal-close" type="button">Cancel</a>
            <a class="uk-button uk-button-primary uk-modal-close" (click)="loggedIn=true" [routerLink]="['/application']">Register</a>
        </div>
    </div>
</div>